.home {
  .profile-container {
    margin-top: 30px;

    .profile-photo {
      height: 800px;
      float: right;
    }

    .photo-overlay {
      width: 40%;
      position: relative;
      top: -820px;
      left: -250px;
      display: inline-block;
      border-right: 400px solid transparent;
      border-top: 840px solid $pink;
      padding-left: 0;

      .profile-text {
        position: relative;
        top: -830px;
        .profile-name {
          color: $darker-gray;
        }
      }
    }
  }
}
