.tag-page {
  overflow: hidden;
  height: 100vh;
  background-color: $darker-gray;
  font-family: 'Droid Sans Mono', monospace;
  .top-bar {
    z-index: 10;
    position: fixed;
    background-color: $darker-gray;
    width: calc(100% - 15px);
    height: 100px;
    padding-bottom: 10px;
    .back-button {
      transition: color 0.15s ease-in-out;
      color: $light-gray;
      background: $darkest-gray;
      border: 0;
      outline: 0;
      margin: 10px 5px 0px 10px;
      padding: 5px 10px 5px 10px;
      font-size: 30px;
      font-style: italic;
      width: 70px;
      height: fit-content;
      &:hover {
        cursor: pointer;
        &.skill {
          color: $string-green;
        }
        &.interest {
          color: $pastel-blue;
        }
        &.project {
          color: $variable-red;
        }
        &.home {
          color: $white;
        }
      }
    }
    .home-button {
      margin-top: 5px;
    }
    .level-one {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      width: 100%;
      .tag-title {
        font-size: 20px;
        line-height: 20px;
        padding-top: 8px;
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 5px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        .words {
          margin: auto;
          text-align: center;
          margin-left: 1px;
          .word {
            background-color: transparent;
            border: 0;
            outline: 0;
            font-family: 'Droid Sans Mono', monospace;
            color: $light-gray;
            font-size: 20px;
            line-height: 20px;
            text-decoration: underline;
            padding: 0;
            &:hover,
            &.selected {
              cursor: pointer;
              &.skill {
                color: $string-green;
              }
              &.interest {
                color: $pastel-blue;
              }
              &.project {
                color: $variable-red;
              }
            }
            &.selected {
              cursor: unset;
              text-decoration: unset;
            }
          }
          .later-comma {
            padding-right: 10px;
            display: inline;
            color: $light-gray;
          }
        }
        .bracket {
          color: $light-gray;
        }
      }
    }
    .level-two {
      display: flex;
      align-content: flex-start;
      width: 100%;
      font-size: 24px;
      div {
        margin-right: 15px;
        padding-left: 5px;
        &.tag {
          font-size: 25px;
          font-style: italic;
          margin-top: 12px;
          display: flex;
          flex-wrap: wrap;
          .inline {
            display: inline-block;
          }
        }
      }
      .neutral {
        color: $light-gray;
      }
      .constant {
        color: $constant-yellow;
      }
    }
  }
  .page-container {
    padding-left: 90px;
    height: 100%;
    text-align: left;
    font-size: 24px;
    .page-inner {
      vertical-align: top;
      overflow-y: auto;
      height: 100%;
      width: 100%;
      background-color: $darkest-gray;
      box-shadow: inset -90px 0 0 0 $darker-gray;
      z-index: 3;
      .top-padding {
        background-color: $darker-gray;
        height: 110px;
      }
      .page-body {
        display: flex;
        flex-wrap: wrap;
        .topic-focus {
          overflow: auto;
        }

        .topic-focus,
        .focus-media {
          display: inline-block;
          width: fit-content;
        }

        .focus-media {
          padding-right: 80px;
        }

        .Definition,
        .Discussion,
        .Media {
          padding: 25px 25px 0px 25px;
        }
      }

      .bottom-padding {
        height: 70px;
      }
    }
    .bottom-cover {
      position: absolute;
      height: 50px;
      bottom: 0px;
      width: calc(100% - 170px);
      z-index: 10;
      background-color: $darker-gray;
    }
  }
  .skill {
    color: $string-green;
  }
  .interest {
    color: $pastel-blue;
  }
  .project {
    color: $variable-red;
  }
}
