.tag-page {
  overflow: hidden;
  height: 100vh;
  background-color: $darker-gray;
  font-family: 'Courier New', Courier, monospace;
  .level-one {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    .clear-tags {
      color: white;
      background: $darkest-gray;
      border: 0;
      outline: 0;
      margin: 5px 5px 5px 5px;
      padding: 5px 10px 5px 10px;
      font-size: 30px;
      height: fit-content;
      width: fit-content;
      &:hover {
        cursor: pointer;
        &.skill {
          color: $string-green;
        }
        &.interest {
          color: $pastel-blue;
        }
        &.achievement {
          color: $variable-red;
        }
      }
    }
    .tag-title {
      font-size: 20px;
      line-height: 20px;
      padding-top: 8px;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 8px;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      .title-main {
        margin: auto;
        text-align: center;
      }
      .words {
        margin: auto;
        text-align: center;
        margin-left: 1px;
        .word {
          background-color: transparent;
          border: 0;
          outline: 0;
          font-family: 'Courier New', Courier, monospace;
          color: $light-gray;
          font-size: 20px;
          line-height: 20px;
          text-decoration: underline;
          padding: 0;
          &:hover {
            cursor: pointer;
            &.skill {
              color: $string-green;
            }
            &.interest {
              color: $pastel-blue;
            }
            &.achievement {
              color: $variable-red;
            }
          }
        }
        .later-comma {
          padding-right: 10px;
          display: inline;
          color: $light-gray;
        }
      }
      .bracket {
        color: $light-gray;
      }
    }
  }
  .level-two {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    padding-left: 90px;
    font-size: 24px;
    div {
      margin-right: 15px;
      &.tag {
        font-size: 27px;
        font-style: italic;
      }
    }
  }
  .page-container {
    padding-top: 15px;
    padding-left: 90px;
    padding-right: 90px;
    height: calc(100% - 124px);
    text-align: left;
    font-size: 24px;
    .page-inner {
      height: 100%;
      background-color: $darkest-gray;
    }
  }
  .skill {
    color: $string-green;
  }
  .interest {
    color: $pastel-blue;
  }
  .achievement {
    color: $variable-red;
  }
}
