.tag-page {
  overflow: hidden;
  height: 100vh;
  background-color: $darker-gray;
  font-family: 'Courier New', Courier, monospace;
  .top-bar {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    .clear-tags {
      color: white;
      background: $darkest-gray;
      border: 0;
      outline: 0;
      margin: 5px 5px 5px 5px;
      padding: 5px 10px 5px 10px;
      font-size: 30px;
      height: fit-content;
      width: fit-content;
      &:hover {
        cursor: pointer;
      }
    }
    .tag-title {
      font-size: 35px;
      margin-top: 10px;
      padding: 0 10px 0 5px;
      &.skill {
        color: $string-green;
      }
      &.interest {
        color: $pastel-blue;
      }
      &.achievement {
        color: $variable-red;
      }
    }
  }
  .page-inner {
    padding-left: 90px;
    width: 100%;
    text-align: left;
    font-size: 24px;
    .words {
      color: $light-gray;
    }
  }
}
