{
    "extends": [
        "stylelint-config-recommended-scss",
        "stylelint-config-recommended",
        "stylelint-config-styled-components"
    ],
    "plugins": [
        "stylelint-scss",
        "stylelint-order"
    ],
    "rules": {
        "indentation": 2,
        "max-empty-lines": 2,
        "declaration-empty-line-before": null,
    }
}
