.Discussion {
  .main-topic {
    .header {
      display: inline-block;
      margin-right: 10px;
      font-size: 26px;
      margin-top: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-bottom: 2px solid $light-gray;
      padding-bottom: 8px;
      div{
        display: inline-block;
        padding-right: 10px;
      }
      .neutral {
        color: $light-gray;
      }
      .italic {
        font-style: italic;
      }
      .small{
        font-size: 18px;
      }
      .no-pad {
        padding: 0;
      }
    }
  
    .description {
      display: block;
      color: $light-gray;
      padding: 10px;
      font-size: 18px;
      div {
        display: inline-block;
      }
      .new-line {
        display: block;
      }
      .tab:not(:first-child) {
        padding-top: 10px;
      }      
    }
  }
  .sub-topic {
    padding-top: 10px;
    .sub-header {
      display: inline-block;
      margin-right: 10px;
      font-size: 20px;
      margin-top: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-bottom: 2px solid $light-gray;
      padding-bottom: 8px;
      div{
        display: inline-block;
        padding-right: 10px;
      }
      .neutral {
        color: $light-gray;
      }
      .italic {
        font-style: italic;
      }
      .small{
        font-size: 18px;
      }
      .left-pad{
        padding-left: 10px;
      }
      .no-pad {
        padding: 0;
      }
    }
  
    .description {
      display: block;
      color: $light-gray;
      padding: 10px;
      font-size: 18px;
      div {
        display: inline-block;
      }
      .new-line {
        display: block;
      }
      .tab:not(:first-child) {
        padding-top: 10px;
      }
  
      iframe {
        padding-top: 10px;
        width: 640px;
        height: 360px;
      }
      
    }
  }

  .WordLink {
    font-size: 18px;
  }

  .tab {
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  .main-photos,
  .sub-photos{
    padding-top: 10px
  }
}
