.WordLink {
  outline: 0;
  background: transparent;
  border: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  &.no-link {
    color: $light-gray;
  }

  &.link {
    text-decoration: underline;
    cursor: pointer;
  }
}
