//colors
$pastel-red: #ff6b6b;
$carmine-pink: #e86262;
$pastel-blue: #4ba3c3;
$teal-blue: #37778e;
$pumpkin: #ff6629;

$white: #ffffff;
$light-gray: #c5c6d0;
$gray: #a5a0b1;
$dark-gray: #62606d;
$darker-gray: #1b1b1f;

$red: #991a30;
$dark-red: #480e14;
$blue: #3a4b69;
$dark-blue: #1d2838;
$yellow: #feb650;
$dark-yellow: #bf7023;
$green: #00766f;
$dark-green: #113735;
$pink: #ffb6bd;
$dark-pink: #ad6568;

//sizes
$pageWidth: 1500px;
