@charset 'UTF-8';

@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 900;
  src: local('Droid Sans Mono'),
    url(../fonts/DroidSansMono-webfont.woff) format('woff'),
    url(../fonts/DroidSansMono-webfont.ttf) format('ttf'),
    url(../fonts/DroidSansMono-webfont.svg) format('svg'),
    url(../fonts/DroidSansMono-webfont.eot) format('eot');
}

@import './variables';

// components
@import './components/wordLink';
@import './components/definition';
@import './components/discussion';
@import './components/media';

// pages
@import './pages/base';
@import './pages/home';
@import './pages/tagPage';

.heart {
  color: $variable-red;
}

// scroll bar
*::-webkit-scrollbar-track {
  background-color: $darkest-gray;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: $darker-gray;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: $light-gray;
}
