$profile-image-height: 35vh;
$blur-level: calc(9px + 0.3vw);
$border-length: 0.15vw;
$drop-shadow: 0.45vw;

$hover-drop-shadow: 0.35vw;
$hover-margin-bottom: -0.1vw;
$hover-margin-top: 0.1vw;

$click-drop-shadow: 0.1vw;
$click-margin-bottom: -0.35vw;
$click-margin-top: 0.35vw;

.home {
  transition: opacity 0.15s ease-in-out 0.05s;

  &.opaque {
    opacity: 0;
  }

  .action-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7vh;
    display: flex;
    justify-content: space-around;

    button {
      color: $white;
      outline: 0;
      border-radius: 100px;
      border: solid $border-length $white;
      font-size: 3vh;
      font-family: 'Droid Sans Mono', monospace;
      min-width: 16vw;
      padding: 1.4vh 1.7vh 1.4vh 1.7vh;
      background-color: $darker-gray;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out,
        margin-top 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        margin-bottom 0.15s ease-in-out, margin-top 0.15s ease-in-out;
      box-shadow: 0px $drop-shadow 0px $dark-gray;

      span {
        transition: color 0.15s ease-in-out;
      }

      &:hover span,
      &.active span {
        &.button-will {
          color: $constant-yellow;
        }

        &.button-dot {
          color: $light-gray;
        }
      }

      &.skills-button:hover span,
      &.skills-button.active span {
        &.button-type {
          color: $string-green;
        }
      }

      &.skills-button:hover {
        border: solid $border-length $string-green;
        box-shadow: 0px $hover-drop-shadow 0px $dark-string-green;
        margin-bottom: $hover-margin-bottom;
        margin-top: $hover-margin-top;
      }

      &.skills-button.active {
        border: solid $border-length $string-green;
        box-shadow: 0px $click-drop-shadow 0px $dark-string-green;
        margin-bottom: $click-margin-bottom;
        margin-top: $click-margin-top;
      }

      &.interests-button:hover span,
      &.interests-button.active span {
        &.button-type {
          color: $pastel-blue;
        }
      }

      &.interests-button:hover {
        border: solid $border-length $pastel-blue;
        box-shadow: 0px $hover-drop-shadow 0px $dark-pastel-blue;
        margin-bottom: $hover-margin-bottom;
        margin-top: $hover-margin-top;
      }

      &.interests-button.active {
        border: solid $border-length $pastel-blue;
        box-shadow: 0px $click-drop-shadow 0px $dark-pastel-blue;
        margin-bottom: $click-margin-bottom;
        margin-top: $click-margin-top;
      }

      &.projects-button:hover span,
      &.projects-button.active span {
        &.button-type {
          color: $variable-red;
        }
      }

      &.projects-button:hover {
        border: solid $border-length $variable-red;
        box-shadow: 0px $hover-drop-shadow 0px $dark-variable-red;
        margin-bottom: $hover-margin-bottom;
        margin-top: $hover-margin-top;
      }

      &.projects-button.active {
        border: solid $border-length $variable-red;
        box-shadow: 0px $click-drop-shadow 0px $dark-variable-red;
        margin-bottom: $click-margin-bottom;
        margin-top: $click-margin-top;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
  .code {
    overflow: hidden;
    height: 100vh;
    background-color: $darker-gray;
    .code-container {
      padding: 35px 30px 30px 30px;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;

      .pseudo-code {
        user-select: none;
        display: flex;
        padding: 0 3px 0 3px;

        button,
        div {
          font-size: 1.25vw;
          line-height: 1.45vw;
          width: fit-content;
          font-family: 'Droid Sans Mono', monospace;
          background: transparent;
          outline: 0;
          border: 0;
          margin-top: 2px;
          padding: 0 5px 0 5px;
          transition: text-shadow 0.15s ease-in-out;
          display: inline-block;

          &.pseudo-reserved {
            color: transparent;
            text-shadow: 0 0 $blur-level $variable-red;

            &.visible {
              text-shadow: 0 0 0px $variable-red;

              &:hover {
                cursor: pointer;
              }
            }

            &.underline {
              text-decoration: underline;
            }
          }

          &.pseudo-constant {
            color: transparent;
            text-shadow: 0 0 $blur-level $constant-yellow;

            &.visible {
              text-shadow: 0 0 0px $constant-yellow;

              &:hover {
                cursor: pointer;
              }
            }

            &.underline {
              text-decoration: underline;
            }
          }

          &.pseudo-string {
            color: transparent;
            text-shadow: 0 0 $blur-level $string-green;

            &.visible {
              text-shadow: 0 0 0px $string-green;

              &:hover {
                cursor: pointer;
              }
            }

            &.underline {
              text-decoration: underline;
            }
          }

          &.pseudo-global {
            color: transparent;
            text-shadow: 0 0 $blur-level $global-purple;

            &.visible {
              text-shadow: 0 0 0px $global-purple;

              &:hover {
                cursor: pointer;
              }
            }

            &.underline {
              text-decoration: underline;
            }
          }

          &.pseudo-method {
            color: transparent;
            text-shadow: 0 0 $blur-level $pastel-blue;

            &.visible {
              text-shadow: 0 0 0px $pastel-blue;

              &:hover {
                cursor: pointer;
              }
            }

            &.underline {
              text-decoration: underline;
            }
          }

          &.none-type-code {
            padding: 0;
            color: transparent;
            text-shadow: 0 0 $blur-level $gray;
          }
        }
      }
    }
  }

  .profile-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    height: $profile-image-height;
    transition: all 0.15s ease-in-out;
    z-index: 100;

    &.opaque {
      opacity: 0;
      z-index: -1;
    }

    .profile-picture {
      user-select: none;
      border-radius: $profile-image-height;
      border: solid 3px $white;
      max-width: 100%;
      height: 100%;
    }
  }
}
